<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @officehour.course_id %>
</p>

<p>
  <strong>Ta:</strong>
  <%= @officehour.ta_id %>
</p>

<p>
  <strong>Start:</strong>
  <%= @officehour.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @officehour.end %>
</p>

<p>
  <strong>Online:</strong>
  <%= @officehour.online %>
</p>

<%= link_to 'Edit', edit_officehour_path(@officehour) %> |
<%= link_to 'Back', officehours_path %>
