<p id="notice"><%= notice %></p>
<% provide(:title, @user.first_name) %>

<div class="col-sm-9">

    <div class="col-sm-3">
      <center>
      <div class="user_name">

        <p>
          <% if @user.picture? %>
          <%= image_tag @user.picture.url, class:"profile_image", size:150 %>
          <% else %>
          <%= image_tag Faker::Avatar.image, class:"profile_image", size:150 %>
          <% end %>
          <br>
          <%= link_to "Settings", edit_user_path(current_user) %>
          <h3> <%=@user.first_name%> <%=@user.last_name%></h3>
        </p>
      </div>
      </center>
    </div>

    <div class="col-sm-9">
      <ul class="nav nav-tabs mytab" role= "tablist">
        <li class = "nav-item">
          <li class = "nav-link active"><a data-toggle="tab" role = "tab" href="#student">Student</a></li>
        </li>
        <li class = "nav-item">
          <li class = "nav-link"><a data-toggle="tab" href="#ta" role = "tab">TA</a></li>
        </li>
      </ul>
      <div class = "tab-content">
        <div id="student" class = "tab-pane fade in active" role = "tabpanel">
          <div class="row">
            <div class="course_appoint col-sm-12">
              <p>
                <strong>Courses</strong>
                <ul>
                    <% course_list = current_user().courses %>
                    <% course_list.each do |c| %>
                        <li> <%= link_to "#{c.name}", :controller => "courses", :action =>"show", :id=>"#{c.id}", :course_name=>"#{c.name}", class: 'basiclink' %> </li>
                    <% end %>

                </ul>
              </p>
              <hr>
            </div>
            <div id='appointments'>
              <%=render 'student_appointments'%>
            </div>
          </div>
        </div>


        <div id="ta" class="tab-pane fade" role = "tabpanel">
          <div class="row">
            <div class="course_appoint col-sm-12">
              <p>
                <strong>Courses</strong>
                <ul>
                    <% course_list = current_user().tacourses %>
                    <% course_list.each do |c| %>
                        <li> <%= link_to "#{c.name}", :controller => "courses", :action =>"show", :id=>"#{c.id}", :course_name=>"#{c.name}", class: 'basiclink' %> </li>
                    <% end %>

                </ul>
              </p>
              <hr>
            </div>
            <div id='ta_appointments'>
              <%=render 'ta_appointments'%>
            </div>
          </div>
        </div>
          <!--  -->
      </div>
    <br>
    <br>
    <div class = "row">
      <div id="target" style="margin-right:0px;padding-right:90px; width: 1000px; height: 100%; display: flex; flex-direction: column; justify-content: flex-start; overflow-x:auto;">
        <%= render 'cal_create', :locals=> {course:@course}%>
      </div>
    </div>

		<!-- /Boxes de Acoes -->
	</div>
</div>
        <!--  -->
      </div>
    </div>
  </div>




    </div>

    <script>
        $('.schedule').on('selectionmade', function() {
          console.log("Selection Made");

        }).on('selectionremoved', function() {
          console.log("Selection Removed");
        });
        $(document).ready( function() {
          var mousedown = false;
          var devarionMode = false;
          $('.hour').on('mousedown', function(event) {
            // if (!$(this).children().children().hasClass('offhour')){ 
              $(this).children().children('div:nth-child(2)').modal('show');
            // }
          })
        });
    </script>

</div>
