<p id="notice"><%= notice %></p>
<% provide(:title, @user.first_name) %>

   <div class="container-fluid main-contain">
      <div class="row">
        <%= render 'layouts/sidebar' %>
         <div class="col-sm-2">
          <p>
            <img src="http://www.hbc333.com/data/out/190/47199326-profile-pictures.png" height = "100" width = "100" />
          </p>
        </div>

        <div class="col-sm-2 user_name">
          <p>
            <h3> <%=@user.first_name%> <%=@user.last_name%></h3>
          </p>
        </div>

        <div class="col-sm-7 col-lg-9 course_appoint">
          <p>
            <strong>Courses</strong>
            <ul>
                <%=get_course_list()%>
            </ul>
          </p>
        </div>
      </div>
      <div class = 'row'>
        <div id='appointments'><%=render 'appointments'%></div>
      </div>
    </div>
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>
