<p id="notice"><%= notice %></p>
<% provide(:title, @user.first_name) %>

   <div class="container-fluid main-contain">
      <div class="row">
        <%= render 'layouts/sidebar' %>
         <div class="col-sm-2">
          <p>
            <img src="http://www.hbc333.com/data/out/190/47199326-profile-pictures.png" height = "100" width = "100" />
          </p>
        </div>

        <div class="col-sm-2 user_name">
          <p>
            <h3> <%=@user.first_name%> <%=@user.last_name%></h3>
          </p>
        </div>

        <div class="col-sm-7 col-lg-9 course_appoint">
          <p>
            <strong>Courses</strong>
            <ul>
                <%=get_course_list()%>
            </ul>
          </p>
        </div>
      </div>
      <div class = 'row'>
        <div id='confirmed_appointments'><%=render 'confirmed_app'%></div>
        <div class = 'col-xs-5 input-group'>
          <p>
            <strong>Unconfirmed Appointments</strong>
            <ul style = "padding-left:0px; margin-left:0px; margin-right:25%;">
               <%#= get_appointment()%>
               <%userta = @user.ta_appointments%>
               <%userta.each do |app|%>
                <%if app.confirmed == false%>
                  <li class = 'list-group-item'>Appointment between <%=User.find(app.ta_id).first_name%> and <%=User.find(app.student_id).first_name%> for course: <%=Course.find(app.course_id).name%> Time: <%=app.start%> - <%=app.end%>
                    <%=form_tag confirm_appointment_path, method:'put', id:'confirm_app', remote:true%>
                      <%=hidden_field_tag :confirmed, true%>
                      <%#=hidden_field_tag 'course_id', :value => app.course_id%>
                      <%#=hidden_field_tag 'student_id', :value => app.student_id%>
                      <%#=hidden_field_tag 'ta_id', :value => app.ta_id%>
                      <%#=hidden_field_tag 'end', :value => app.end%>
                      <%#=hidden_field_tag 'start', :value => app.start%>
                      <%=hidden_field_tag :id, app.id%>
                      <%=submit_tag 'Confirm', class: 'confirm_btn'%>
                    <%#end%>
                   </li>
                 <%end%>
               <%end%>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>
