<div id="taprofile" class="col-sm-10">
  <section id="profile">
    <div class="col-sm-10">
      <div class="col-sm-8">
        <center>
	  	    <h2 style="font-size:26px"><strong><%= @user.first_name %> <%= @user.last_name %></strong></h2>
		    <br>
		    <% if @user.picture? %>
		      <%= image_tag @user.picture.url, class:"profile_image", size:120 %>
		    <% else %>
		      <%= image_tag Faker::Avatar.image, class:"profile_image", size:120 %>
		    <% end %>
      	</center>

        <div id="introduction col-sm-2">
          <dl>
            <dt>University</dt>
            <dd> Brandeis University </dd>
            <dt>Courses</dt>
            <% course_list = course_list_of_ta(@user)%>
            <% course_list.each do |each_course_id| %>
            <dd><%= Course.find(id=each_course_id)['name']%></dd>
            <% end %>
          </dl>
        </div>
      </div>
      <div class="col-sm-4"> 
      </div>
    </div>

  </section>

  <hr />

  <% if !@user.ta_reviews.empty? %>
    <section id="review">
    <!-- average rating -->
      <div class="col-sm-12">
	    <div class="col-sm-3">
	      <div class="rating-block">
		    <h4>Average user rating</h4>
        <!-- average rating -->

            <% avg_score = average_rating_scores(@user) %>
		    <h2 class="bold padding-bottom-7"><%= avg_score.round(2) %> <small>/ 5</small></h2>
		    <%= create_big_rating_icon(avg_score.round) %>
	      </div>
	    </div>

        <div class="col-sm-4">
	      <h4>Rating breakdown</h4>
          <% array_rating_breakdown = array_score_distribution(@user) %>
	      <div class="pull-left">
	        <div class="pull-left" style="width:35px; line-height:1;">
		      <div style="height:9px; margin:5px 0;">5 <span class="glyphicon glyphicon-star"></span></div>
	        </div>
	        <div class="pull-left" style="width:180px;">
	          <div class="progress" style="height:9px; margin:8px 0;">
		        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: <%= width_of_progress(array_rating_breakdown[0])%>">
			      <span class="sr-only">80% Complete (danger)</span>
		        </div>
		      </div>
	        </div>
	        <div class="pull-right" style="margin-left:10px;"><%= array_rating_breakdown[0] %></div>
	      </div>
	      <div class="pull-left">
		    <div class="pull-left" style="width:35px; line-height:1;">
		      <div style="height:9px; margin:5px 0;">4 <span class="glyphicon glyphicon-star"></span></div>
		    </div>
		    <div class="pull-left" style="width:180px;">
		      <div class="progress" style="height:9px; margin:8px 0;">
		        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: <%= width_of_progress(array_rating_breakdown[1])%>">
			      <span class="sr-only">80% Complete (danger)</span>
			    </div>
		      </div>
		    </div>
		    <div class="pull-right" style="margin-left:10px;"><%= array_rating_breakdown[1] %></div>
	      </div>
	      <div class="pull-left">
		    <div class="pull-left" style="width:35px; line-height:1;">
		      <div style="height:9px; margin:5px 0;">3 <span class="glyphicon glyphicon-star"></span></div>
	        </div>
		    <div class="pull-left" style="width:180px;">
		      <div class="progress" style="height:9px; margin:8px 0;">
		        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5" style="width: <%= width_of_progress(array_rating_breakdown[2])%>">
			      <span class="sr-only">80% Complete (danger)</span>
			    </div>
		      </div>
		    </div>
		    <div class="pull-right" style="margin-left:10px;"><%= array_rating_breakdown[2] %></div>
	      </div>
	      <div class="pull-left">
		    <div class="pull-left" style="width:35px; line-height:1;">
		      <div style="height:9px; margin:5px 0;">2 <span class="glyphicon glyphicon-star"></span></div>
		    </div>
		    <div class="pull-left" style="width:180px;">
		      <div class="progress" style="height:9px; margin:8px 0;">
			    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: <%= width_of_progress(array_rating_breakdown[3])%>">
			      <span class="sr-only">80% Complete (danger)</span>
			    </div>
		      </div>
		    </div>
		    <div class="pull-right" style="margin-left:10px;"><%= array_rating_breakdown[3] %></div>
	      </div>

	      <div class="pull-left">
		    <div class="pull-left" style="width:35px; line-height:1;">
		      <div style="height:9px; margin:5px 0;">1 <span class="glyphicon glyphicon-star"></span></div>
		    </div>
		    <div class="pull-left" style="width:180px;">
		      <div class="progress" style="height:9px; margin:8px 0;">
			    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" style="width: <%= width_of_progress(array_rating_breakdown[4])%>">
            	<!-- width -->
			      <span class="sr-only">80% Complete (danger)</span>
			    </div>
		      </div>
		    </div>
		    <div class="pull-right" style="margin-left:10px;"><%= array_rating_breakdown[4] %></div>
      		<!-- rating number -->
	      	</div>
	      </div>
        <div class="col-sm-4">
      </div>
    </div>


	    <!-- end of average rating -->
	    <!-- reviews -->
	<div class="col-sm-12" id="review">
	  <div class="col-sm-7">
	  <% @user.ta_reviews.each do |each_review|%>
		<div class="review-block">
		  <div class="row">
			<div class="col-sm-3">
			  <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
			  <div class="review-block-name"><a href="#">anoymous</a></div>
			  <div class="review-block-date"><%= each_review['created_at'] %></div>
			</div>
			<div class="col-sm-9">
	      	  <div class="review-block-rate">
	            <%= create_big_rating_icon(each_review['score']) %>
	        	<%= each_review['score']%>
	          </div>
	      	  <% course_id = each_review['course_id']%>
			  <div class="review-block-title">Course: <%= Course.find(id=course_id)['name'] %></div>
			  <div class="review-block-description"><%= each_review['review'] %></div>
			</div>
		  </div>
	  </div>
	  <% end %>
	</div>
	</div>

    <!-- end of reviews -->

	</section>

	<% else %>
	<div class = 'col-sm-12' id= "review">
	  <p>No Reviews</p>
	 </div>
	<% end %>

	<!-- end of average and all reviews -->

	<hr>
	<section id="edit_review">

	  <div class="col-sm-12">
	    <form action="/taprofile" method="post" class="col-sm-7">
	    <div class="form-group row">
	      <div class="col-xs-12" style = 'padding-left:0px'>
	        <div class="lead">
	          <div id="hearts" class="starrr"></div>
	          <span id="count">0</span> star(s)

	          <input type="hidden" value="" id="startP" name="score">
	        </div>
	      </div>
	    </div>
	  <div class="form-group row">

	    <div class="row">
	      <div class="col-xs-4">
	        <div class="form-group">
	          <label for="sel1">Select list:</label>
	          <select class="form-control" id="sel1" name="course_id">
	            <% course_list = course_list_of_ta(@user)%>
	            <% course_list.each do |each_course_id| %>
	              <% each_course=Course.find(id=each_course_id) %>
	              <option value="<%= each_course['id']%>"><%= each_course['name']%></option>
	            <% end %>

	          </select>
	        </div>
	      </div>
	    </div>
	    <div class="row">
	      <div class="col-xs-12">
	        <label for="Review">Review:</label>
	        <textarea class="form-control" rows="5" name="review" placeholder="Write here..." ></textarea>
	      </div>
	    </div>
	  </div>
	  <div class="form-group row">
	    <div class="col-xs-12">
	      <input type="hidden" value="<%= @user['id']%>" name="ta_id">
	      <input type="hidden" value="<%= current_user.id%>" name="user_id">
	      <button type="submit" class="btn btn-success green">submit</button>
	    </div>
	</div>
	</form>
	</div>
  </section>
</div>
