
<section id="profile">
  <div class="row">
    <div class="col-md-3">
      <center>
      <h2 style="font-size:26px"><strong><%= @user.first_name %> <%= @user.last_name %></strong></h2>
      <br>
      <img style="border:3px solid black;" src="<%=Faker::Avatar.image%>" height = "100" width = "100" />
      </center>
    </div>
    <div class="col-md-9">
      <dl class="row">
        <dt class="col-md-2">University</dt>
        <dd class="col-md-7"><%= @user.university_id %></dd>
      </dl>
    </div>
  </div>

</section>
<hr />
<section id="review">
  <div class = "row">
    <div class="col-md-3">
      <h2><strong>Comments:</strong></h2>
    </div>
    <br>
  </div>

      <% @user.ta_reviews.each do |each_review|%>
      <div class="row">
        <div class="col-md-3">
        <div class="thumbnail">
        <img style="border:3px solid black;" src="<%=Faker::Avatar.image%>" height = "100" width = "100" />
        </div><!-- /thumbnail -->
        </div><!-- /col-sm-3 -->

        <div class="col-md-9">
        <div class="panel panel-default">
        <div class="panel-heading">

        <%= create_rating_icon(each_review['score']) %> <%= each_review['score']%> <span class="text-muted"><%= each_review['created_at'] %></span>
        </div>
        <div class="panel-body">
        <%= each_review['review'] %>
        </div><!-- /panel-body -->
        </div><!-- /panel panel-default -->
        </div><!-- /col-sm-5 -->

      </div>

      <% end %>



</section>
