<p id="notice"><%= notice %></p>

<h1>Enrollment Tas</h1>

<table>
  <thead>
    <tr>
      <th>Course</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enrollment_tas.each do |enrollment_ta| %>
      <tr>
        <td><%= enrollment_ta.course_id %></td>
        <td><%= enrollment_ta.user_id %></td>
        <td><%= link_to 'Show', enrollment_ta %></td>
        <td><%= link_to 'Edit', edit_enrollment_ta_path(enrollment_ta) %></td>
        <td><%= link_to 'Destroy', enrollment_ta, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Enrollment Ta', new_enrollment_ta_path %>
