

<h1>TA LIST</h1>
<div class="row">
  <div class="tab">
    <button class="tablinks" onclick="openCity(event, 'London')">Normal</button>
    <button class="tablinks" onclick="openCity(event, 'Paris')">Category by Course</button>
    <button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button>
  </div>

  <div id="London" class="tabcontent" style=display:block>
    <form action="/taprofile" method="GET">
    <% ta_list=get_ta_list_from_enrollment_tas(@enrollment_tas) %>
    <%= ta_list %>

    <table class="table">

        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Course</th>
            <th>Profile</th>
          </tr>
        </thead>
        <tbody>
          <% for num in ta_list %>
            <% each_user=User.find(num)%>
            <tr>
              <td><%= each_user['first_name']%> <%= each_user['last_name']%></td>
              <td><%= each_user['email']%></td>
              <td><%= find_tacourses_from_user(each_user) %> </td>
              <td>

                <button type="submit" class="btn btn-primary" value="<%= each_user['id'] %>" name = "ta_id">TA Profile</button>

              </td>
            </tr>
          <% end %>
        </tbody>
    </table>

    </form>
  </div>

  <div id="Paris" class="tabcontent">
    <form action="/taprofile" method="GET">
    <% @courses.each do |each_course| %>
      <h2><%= each_course.name %></h2>

      <table class="table">


        <thead class="thead-default">
          <tr>

            <th style="width:200px">Name</th>
            <th style="width:300px">Email</th>
            <th>Profile</th>

        </thead>
        <tbody>
          <% tas= each_course.tas %>
          <% tas.each do |each_ta| %>
            <tr>

              <td><%= each_ta['first_name'] %> <%= each_ta['last_name'] %></td>
              <td><%= each_ta['email'] %></td>
              <td>

                <button type="submit" class="btn btn-primary" value="<%= each_ta['id'] %>" name = "ta_id">TA Profile</button>

              </td>


            </tr>
          <% end %>
        </tbody>
      </table>

    <% end %>
    </form>
  </div>

  <div id="Tokyo" class="tabcontent">
    <h3>Tokyo</h3>
    <p>Tokyo is the capital of Japan.</p>
  </div>




</div>
