

<h1>TA LIST</h1>
<div class="row">
  <div class="tab">
    <button class="tablinks" onclick="openCity(event, 'London')">Normal</button>
    <button class="tablinks" onclick="openCity(event, 'Paris')">Category by Course</button>
    <!-- <button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button> -->
  </div>

  <div id="London" class="tabcontent" style=display:block>
    <div class="row">
      <div class="col-sm-2">
        <%= form_tag("#", method: "get") do %>
          <%= label_tag(:q, "Search for:") %>
          <%= text_field_tag 'search_name', nil ,:placeholder => 'First or Last Name' %>

        <% end %>
      </div>
      <div class="col-sm-10" id="talist1">
      <%= render 'partial' %>
      </div>
    </div>

  </div>

  <div id="Paris" class="tabcontent">
    <form action="/taprofile" method="GET">
    <% @courses.each do |each_course| %>
      <h2><%= each_course.name %></h2>

      <table class="table">


        <thead class="thead-default">
          <tr>

            <th style="width:200px">Name</th>
            <th style="width:300px">Email</th>
            <th>Profile</th>

        </thead>
        <tbody>
          <% tas= each_course.tas %>
          <% tas.each do |each_ta| %>
            <tr>

              <td><%= each_ta['first_name'] %> <%= each_ta['last_name'] %></td>
              <td><%= each_ta['email'] %></td>
              <td>

                <button type="submit" class="btn btn-primary" value="<%= each_ta['id'] %>" name = "ta_id">TA Profile</button>

              </td>


            </tr>
          <% end %>
        </tbody>
      </table>

    <% end %>
    </form>
  </div>

  <div id="Tokyo" class="tabcontent">
    <h3>Tokyo</h3>
    <p>Tokyo is the capital of Japan.</p>
  </div>




</div>
