
<h1>TA LIST</h1>


<% @courses.each do |each_course| %>
  <h2><%= each_course.name %></h2>
  <form action="/taprofile" method="GET">
  <table class="table">
    <thead class="thead-default">
      <tr>
        <th></th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th></th>

    </thead>
    <tbody>
      <% tas= each_course.tas %>
      <% tas.each do |each_ta| %>
        <tr>
          <th scope="row"><%= each_ta['id'] %></th>
          <td><%= each_ta['first_name'] %></td>
          <td><%= each_ta['last_name'] %></td>
          <td><%= each_ta['email'] %></td>
          <td>
      
            <td><button type="submit" class="btn btn-primary" value="<%= each_ta['id'] %>" name = "ta_id">TA Profile</button></td>

          </td>


        </tr>
      <% end %>
    </tbody>
  </table>
  </form>
<% end %>
