<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @enrollment_tum.course_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @enrollment_tum.user_id %>
</p>

<%= link_to 'Edit', edit_enrollment_tum_path(@enrollment_tum) %> |
<%= link_to 'Back', enrollment_ta_index_path %>
