<% provide(:title, 'Add Course') %>
<h1>Add Course</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(course, url: add_course_path ) do |f| %>
      <%= render 'shared/courses_error_messages' %>
<!--   <%# if course.errors.any? %>
    <div id="error_explanation">
      <h2><%#= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <%# course.errors.full_messages.each do |message| %>
        <li><%#= message %></li>
      <%# end %>
      </ul>
    </div>
  <%# end %> -->

      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :major_id %>
        <%= f.number_field :major_id, class: 'form-control' %>
      </div>

      <div class="actions">
        <%= f.submit "Add Course", class: "btn btn-primary" %>
      </div>
    <% end %>
<!-- closing divs can be found in new.html.erb (of courses) -->