<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @appointment.course_id %>
</p>

<p>
  <strong>Student:</strong>
  <%= @appointment.student_id %>
</p>

<p>
  <strong>Ta:</strong>
  <%= @appointment.ta_id %>
</p>

<p>
  <strong>Start:</strong>
  <%= @appointment.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @appointment.end %>
</p>

<p>
  <strong>Confirmed:</strong>
  <%= @appointment.confirmed %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
