<%if user_signed_in?%>
<div class="col-sm-2">
    <div id="sidebar" class="well sidebar-nav">
        <h3>
          <% name =  current_user.first_name + " " + current_user.last_name %>
            <small><b><%= name %></b></small>
        </h3>
        <%if current_user.tacourses.size>0%>
          <%if current_user.online == true%>
           <%= link_to "Go offline", go_offline_path(user_id: current_user.id), style:'none', class: 'btn btn-sm btn-warning'%>
          <%else%>
           <%= link_to "Go online", go_online_path(user_id: current_user.id), style:'none', class: 'btn btn-sm btn-success'%>
          <%end%>
        <%end%>
          <hr>
        </ul>
        <% current_courses=current_user.courses%>
        <% current_courses.each do |each_course| %>
          <h5>
            <i class="glyphicon glyphicon-book"></i><small><b> <%= each_course.name %></b></small>
          </h5>
          <ul class="nav nav-pills nav-stacked">
          <% ta_list = each_course.tas%>
          <% ta_list.each do |each_ta|%>
            <% ta_name =  each_ta.first_name + " " + each_ta.last_name %>
            <li><%= link_to ta_name, taprofile_path(ta_id:each_ta) %></li>
          <% end %>
          </ul>
        <% end %>
    </div>
</div>
<% else %>

<% end %>
